html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.weather-steps-container {
  margin-bottom:10px;
}

.weather-steps-header {
  margin: 10px 0 0 0;
  padding: 5px;
  border: 1px lightblue;
  border-bottom:0;
  background-color: lightblue;
}

.weather-steps-header .timeslider {
  margin:6px;
}


.weather-step {
  padding-bottom: 2px;
  margin: 0;
  border: 1px solid lightblue;
  borer-top:0;
}
@media (max-width: 991px) {
.weather-step {
  font-size:16px;
}
}

.weather-step  .placetext {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  background-color: #ddf;
  padding: 2px;
}


.weather-step .weathericon {
  display:inline-block;
}

.weather-step .weathertext {
  display:inline-block;
  padding-top:0;
  padding-left:4px;
  vertical-align: middle;
}


.weather-step .weathertext .weatherhazard {
  color: #A00000;
}

.credit-step {
  background-color: #ddf;
}
.weather-step .crediticon {
  display:inline-block;
  width: 50px;
  height:50px;
}



.pac-controls {
  margin-top: 8px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}

#pac-input {
  background-color: #fff;
  padding: 0 5px 0 6px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
#pac-input {
  line-height: 32px !important;
}
}
@media (max-width: 991px) {
#pac-input {
  line-height: 32px !important;
  font-size:16px;
}
.container {
  padding:0 !important;
}
}

#pac-input:focus {
  border-color: #4d90fe;
  
}

.pac-container {
  font-family: 'Open Sans', sans-serif;
}


.angular-google-map-container {
    display: block;
    min-height: 500px;
    height:100%;
}

.angular-google-map {
    display: block;
    width: 100%;
    height: 100%;
}
/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}
